<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro de Funcionário</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Folha de Pagamento</h1>
    <p>FGTS: <span th:text="${folhaPagamento.fgts}"></span></p>
    <p>IRRF: <span th:text="${folhaPagamento.irrf}"></span></p>
    <p>INSS: <span th:text="${folhaPagamento.inss}"></span></p>
    <!-- outros cálculos -->
</body>

</html>