/* styles_empregador.css */

body {
    background-color: #f7f3f8;
    /* Rosa claro */
    color: #524d4d;
    /* Cinza escuro */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #6d4379;
    /* Roxo */
}

/* Estilos para o formulário de cadastro de empregador */
#formEmpregador {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    /* Branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formEmpregador label {
    display: block;
    margin-bottom: 5px;
    color: #6d4379;
    /* Roxo */
}

#formEmpregador input[type="text"],
#formEmpregador input[type="tel"],
#formEmpregador input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formEmpregador input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6d4379;
    /* Roxo */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formEmpregador input[type="submit"]:hover {
    background-color: #523260;
    /* Roxo mais escuro */
}