/* styles_funcionario.css */

body {
    background-color: #f7f3f8;
    /* Rosa claro */
    color: #524d4d;
    /* Cinza escuro */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #6d4379;
    /* Roxo */
}

/* Estilos para o formulário de cadastro de funcionário */
#formFuncionario {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    /* Branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para outros elementos do formulário de funcionário */
/* Adicione conforme necessário */